{% extends 'base.html.twig' %}

{% block title %}ajout Competances{% endblock %}

{% block body %}
<section>
    <div class="container b text-white">
        <div>
            <h1 class="text-center">ajout competance</h1>
            {{form(formComp)}}
        </div>
    </div>
</section>
{% endblock %}
