{% extends 'base.html.twig' %}

{% block title %}ajouter mes experiance Proffesionelle{% endblock %}

{% block body %}

<section>
    <div class="container">
        <div class='comp'>
            <h1 class=" text-center">xp</h1>
            {{form(formXP)}}
        </div>
    </div>
</section>
{% endblock %}
